.work-page-container{
    margin: 60px 120px;
}
.work-page-title{
    font-size: 60px;
    color: var(--highlighted-text-color);
}
.work-page-desc{
    width: 30vw;
    margin-top: 20px;
}
.work-page-main-img-container{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.work-page-main-img{
    max-width: 80vw;
    max-height: 80vh;
    /* box-shadow: 0  6px 20px -4px black; */
}
/* .work-page-main-img-container::after{
    content: '';
    width: 80%;
    height: 40%;
    position: absolute;
    top: 30%;
    left:20%;
    background-color: #A4D75D;
    z-index: -1;
    border-radius: 100px 0 0 100px;
} */
.work-desc-container{
    width: 50vw;
    margin: 40px auto;
    text-align: justify;
}
.more-img-container{
    display: flex;
    justify-content: space-around;
    margin: 60px;

}
.more-img{
    height: 40vh;
}
